body {
	background: url(/bg-im-alten-loha.jpg);
	background-size: 100% auto contain;
	background-position: top;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: $base-colour;
	font-size: 20px;
	
	@media (max-width: 1444px) {font-size: 18px}
	@media (max-width: 768px) {font-size: 16px}
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
	font-size: 2.5em;
	font-weight: 400;

	span {
		color: $bad-colour;
	}

	@media (max-width: 768px) {padding: 0 1.5em}
}

button{
	&:focus {
		outline: none;
	}
	&span {
		vertical-align: middle;
	}

	position: relative;
	z-index: 1;
}

input:focus {
	outline: none;
}

.container {
    width: 70%;
    margin: 10em auto 0;
    text-align: center;
    height: 100%;

    @media (max-width: 1444px) {width: 77%}
    @media (max-width: 768px) {width: 92%; margin: 7em auto 0;}
}
