    body {
        //background: url(/bg-im-alten-lohbc.jpg);
        background-color: #aaa;
        background-size: 100% auto contain;
        background-position: center 15%;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: $base-colour;
        font-size: 20px;
        @media (max-width: 1444px) {
            font-size: 18px
        }
        @media (max-width: 768px) {
            font-size: 15px
        }
        @media (max-width: 480px) {
            font-size: 12px;
        }
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        span {
            color: $bad-colour;
        }
        @media (max-width: 768px) {
            padding: 0 0.5em
        }
        @media (max-width: 480px) {
            padding: 0;
        }
    }
    
    p {
        @media (max-width: 480px) {
            font-size: 1.2em;
        }
    }
    
    button {
        height: 100%;
        width: auto;
        cursor: pointer;
        &.kokihuna {
            //button style mit Hoveranimation "kokihuna"
            font-weight: 400;
            border-radius: 0px;
            border: none;
            font-family: $basefont;
            display: block;
            float: left;
            font-size: 1.25em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            height: 3.2em;
            color: white;
            transition: color 0.3s;
            background-color: none;
            position: relative;
            z-index: 0;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                z-index: -1;
                transform: scale3d(1, 1, 1);
                transition: box-shadow 0.3s, transform 0.3s;
            }
            &:focus {
                outline: none;
            }
            &::before {
                box-shadow: inset 0 0 0 2em $bad-colour;
            }
            &:hover {
                color: $bad-colour;
                &::before {
                    box-shadow: inset 0 0 0 0.25em $bad-colour;
                }
            }
        }
    }
    
    input:focus {
        outline: none;
    }
    
    .bg {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: url(/bg-im-alten-lohbc.jpg);
        overflow-x: hidden;
    }
    
    .container {
        width: 70%;
        margin: 10em auto 0;
        text-align: center;
        height: 100%;
        @media (max-width: 1444px) {
            width: 77%
        }
        @media (max-width: 768px) {
            width: 92%;
            margin: 7em auto 0;
        }
        @media (max-width: 480px) {
            margin: 5em auto 0;
        }
    }
    
    //--------------inputs-------------------------------------
    .input {
        z-index: 1;
        vertical-align: top;
        background: #fff;
        float: left;
        height: 4em;
    }
    
    .input__field {
        position: relative;
        display: block;
        float: right;
        border: none;
        border-radius: 0;
        font-size: 1.8em;
        font-weight: 300;
        font-family: $basefont;
        width: 100%;
        background: transparent;
        color: #6a7989;
        height: 100%;
        padding: 0 0 0 0.5em;
    }
    
    .input__label {
        display: inline-block;
        float: right;
        user-select: none;
        position: absolute;
        text-align: left;
        pointer-events: none;
        color: #D2D2D2;
    }
    
    .input__label-content {
        //equals placeholder text for inputfield, will be animated when focusing input
        position: relative;
        font-size: 1.8em;
        font-weight: 300;
        display: block;
        float: left;
        width: auto;
        transition: transform 0.3s, opacity 0.3s;
        line-height: 2.2222em;
    }
    
    .icon__subscriber-email,
    .btn__add-user {
        display: inline-block;
        transform: translate3d(-2em, 0, 0) scale3d(0, 1, 1);
        width: 4em;
        height: 4em;
        background-color: #5B7A7F;
        transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
        float: left;
    }
    
    .input__field:focus + .input__label .input__label-content,
    .input--filled .input__label-content {
        //moves placeholder-text to the right and fades out
        opacity: 0;
        transform: translate3d(2em, 0, 0);
    }
    
    .input__label-content,
    .icon,
    .input__field:focus + .input__label .input__label-content,
    .input--filled .input__label-content {
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    
    .input__field:focus + .input__label .icon,
    .input--filled .icon {
        background-color: $good-colour;
        transform: translate3d(-4em, 0, 0) scale3d(1, 1, 1);
        @media (max-width: 1060px) {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        }
    }
    
    .layer {
        position: absolute;
        background-color: rgba(36, 80, 87, 0.65);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 50;
        display: table;
        transition: transform 0.4s 0.2s ease-out, background-color 0.2s;
        &.is-hidden {
            transform: translate3d(0, -1000px, 0);
            background-color: transparent;
        }
    }
    
    .layer__content {
        padding: 2em;
        background: #245057;
        vertical-align: middle;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        p {
            font-family: 'Open Sans', sans-serif;
            color: white;
            margin-bottom: 1.5em;
            line-height: 1.35em;
            a {
                text-decoration: none;
                color: #57A8B5;
            }
        }
        .layer__btn {
            display: block;
            margin: 0 auto;
            padding: 0 2em;
            float: none;
        }
        @media (max-width: 1060px) {
            width: 90%;
        }
        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
        }
    }
    
    h2 {
        font-size: 2.5em;
        color: white;
        margin-bottom: 1em;
        text-align: center;
    }
    
    .center-hori {
        display: table-cell;
        vertical-align: middle;
    }
