@import 'variables.scss';

body {
	background: url(/bg-im-alten-loha.jpg);
	background-size: 100% auto contain;
	background-position: top;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: $base-colour;
	font-size: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#date {
	width: 70%;
	margin: 7.5em auto 0;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-weight: 400;

	span {
		color: $bad-colour;
	}
}


#big-state {
	font-weight: 700;
	padding: 0.4em 0;
	text-transform: uppercase;
	color: white;

	&.no {
		font-size: 5em;
	}

	&.yes {
		font-size: 6em;
	}
}


//------------FORM----------------

button{
	&:focus {
		outline: none;
	}
	&span {
		vertical-align: middle;
	}

	position: relative;
	z-index: 1;
}
.big-input {
	font-weight: 400;
	font-size: 1.7em;
	height: 80px;
	border-radius: 0px;
	border: none;
	font-family: $basefont;
	display: block;
	float: left;
	cursor: pointer;
}

.subscribeInputWrapper {
	width: 80%; 
	margin: 0 auto;
	box-sizing: border-box;

	button {
		@extend .big-input;
		font-size: 1.25em;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 25%;
		color: white;
		transition: color 0.3s;
		background-color: none;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			z-index: -1;
			transform: scale3d(1, 1, 1);
			transition: box-shadow 0.3s, transform 0.3s;
		}
		
		&.unsubscribe {
			&::before {
				box-shadow: inset 0 0 0 40px $bad-colour;
			}

			&:hover {
				color: $bad-colour;

				&::before {
					box-shadow: inset 0 0 0 5px $bad-colour;

				}
			}
		}

		&.subscribe {
			&::before {
				box-shadow: inset 0 0 0 40px $good-colour;
			}

			&:hover {
				color: $good-colour;

				&::before {
					box-shadow: inset 0 0 0 5px $good-colour;
				}
			}
		}

		&:hover {
			&::before {
				transform: scale3d(1, 1, 1);
			}
		}
		
		&:last-child {
			float: none;
		}
	}
	

	
	//----------INPUTFIELD-------------
/*
	.input-big {
		width: 50%;
		float: left;
		position: relative;
		display: inline-block;
		
		//overflow: hidden;
		background: #fff;
		//margin: 1em;
		//max-width: 350px;
		//width: calc(100% - 2em);
		vertical-align: top;

		.subscriberEmail-label {
			position: absolute;
			width: 100%;
			height: 80px;
			text-align: left;
			pointer-events: none;
			color: #aaa;

		}

		.subscriberEmail-label-content {
			font-weight: 300;
			font-size: 1.5em;
			display: inline-block;
			width: auto;
			transform: translate3d(-40px, 0, 0);
			transition: transform 0.3s, opacity 0.3s;
			line-height: 80px;
		}

		.subscriberEmail-icon {
			height: 80px;
			width: 80px;
			background-color: $good-colour;
			display: inline-block;
			transform: translate3d(-40px, 0, 0) scale3d(0, 1, 1);
			opacity: 0;
			transition: transform 0.3s, opacity 0.3s;
		}
	}

	#subscriberEmail {
		@extend .big-input;

		//opacity: 1;
		position: relative;
		display: block;
		float: right;
		//padding: 0.8em;
		//width: 60%;
		border: none;
		//border-radius: 0;
		//background: #f0f0f0;
		//color: #aaa;
		width: 100%;
		background: transparent;
		

		cursor: text;
		
		//width: 50%;
		padding:  0 0 0 0.7em;
		box-shadow: inset -3px 3px 4px 0px rgba(0,0,0,0.18);

		&:focus + .subscriberEmail-label .subscriberEmail-label-content, .input--filled .subscriberEmail-label-content {
			opacity: 0;
			transform: translate3d(100px, 0, 0);
		}

		&:focus + .subscriberEmail-label .subscriberEmail-icon, .input--filled .subscriberEmail-icon{
			transform: translate3d(-80px, 0, 0) scale3d(1, 1, 1);
			opacity: 1;
		}
	}

	.subscriberEmail-label-content,
	.subscriberEmail-icon,
	#subscriberEmai:focus + .subscriberEmail-label .subscriberEmail-label-content,
	.input--filled .subscriberEmail-label-content  {
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}*/

}

/*-------KOHANA--------*/
.input {
	//position: relative;
	z-index: 1;
	//display: inline-block;
	//margin: 1em;
	//max-width: 350px;
	//width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	//padding: 0.8em;
	//width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	//font-weight: 400;
	//font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	//-webkit-appearance: none; 
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	//padding: 0 1em;
	//width: 40%;
	color: #696969;
	//font-weight: bold;
	//font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	//padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--kohana {
	//overflow: hidden;
	background: #fff;

	//dazu:
	width: 50%;
	float: left;
}

.input__field--kohana {
	font-size: 1.8em;
	font-weight: 300;
	font-family: $basefont;
	width: 100%;
	background: transparent;
	//padding-left: 2.75em;
	color: #6a7989;

	//dazu:
	height: 80px;
	padding-left: 0.5em;

}

.input__label--kohana {
	position: absolute;
	//width: 100%;
	text-align: left;
	pointer-events: none;
	color: #D2D2D2;
}

.input__label-content--kohana {
	font-size: 1.8em;
	font-weight: 300;
	display: block;
	float:left;
	width: auto;
	//-webkit-transform: translate3d(-1.75em, 0, 0);
	transform: translate3d(-60px, 0, 0);
	//-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;

	//dazu:
	line-height: 80px;

}

.icon--kohana {
	display: inline-block;
	//margin-top: 0.9em;
	//-webkit-transform: translate3d(-2em, 0, 0);
	//transform: translate3d(-40px, 0, 0); //-40px statt xxxem
	//-webkit-transition: -webkit-transform 0.3s;
	//transition: transform 0.3s; 

	//dazu:
	transform: translate3d(-40px, 0, 0) scale3d(0, 1, 1);
	width: 80px;
	height: 80px;
	background-color:#5B7A7F;
	transition: background-color 0.3s, transform 0.3s;
	float: left;
}

.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	opacity: 0;
	//-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.input__label-content--kohana,
.icon--kohana,
.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	//-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--kohana:focus + .input__label--kohana .icon--kohana,
.input--filled  .icon--kohana {
	//-webkit-transform: translate3d(0, 0, 0);
	//transform: translate3d(-80px, 0, 0); 
	//dazu:
	background-color: $good-colour;
	transform: translate3d(-80px, 0, 0) scale3d(1, 1, 1);
}


.icon-user {
	width: 100%;
	height: 100%;
	padding: 7px;
	fill: #fff;
	
}


#subscriber {
	margin: 2em 0 1em 0;
	li {
		display: inline;
		text-transform: uppercase;
		font-size: 1.3em;
		color: $good-colour;
		font-weight: 700;
		&:after {
			content: ' /';

		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
}

.highlight-good {
	color: $good-colour;
}

.highlight-bad {
	color: $bad-colour;
}


//--------------#action--------------

#action {
	position: absolute;
	top: 0;
	right: 0;
	width: 25em;
	height: 60px;
	background-color: $good-colour;
	padding-left: 1em;
	transition: transform 0.3s ease-in-out;
	
	span {
		position: absolute;
		line-height: 60px;
		color: white;
		transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s 0.2s;
	}
	
	&.in {
		transform: translate3d(0, 0, 0);

		#show-balance, #add-date, #add-player {
			transform: translate3d(0, 0, 0);
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}

		span {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	&.out {
		transform: translate3d(0, -60px, 0);

		#show-balance, #add-date, #add-player {
			transform: translate3d(0, -60px, 0);
		}

		span {
			transform: translate3d(0, -60px, 0);
			opacity: 0;
		}
	}
}

.icon-account-wrapper {
	background-color: white;
	height: 60px;
	width: 60px;
	float: right;
	margin-left: 2px;
	transform: translate3d(0, -60px, 0);
	transition: transform 0.3s ease-in-out;

	&:first-child {
		float: none;
	}

	i {
		display: block;
		width: 60px;
		height: 60px;
	}
}

#show-balance {
	transition-delay: 0.3s;
}

#add-player {
	transition-delay: 0.1s;
	.icon-user {
		fill: $good-colour;
	}
}

#add-date {
	transition-delay: 0.2s;
}

.icon-euro-sign {
	width: 100%;
	height: 100%;
	fill: $good-colour;
}
