@import '_variables.scss';
@import '_base.scss';



#date {
	width: 70%;
	margin: 7.5em auto 0;
	text-align: center;
}



#big-state {
	font-weight: 700;
	padding: 0.4em 0;
	text-transform: uppercase;
	color: white;

	&.no {
		font-size: 5em;
	}

	&.yes {
		font-size: 6em;
	}
}


//------------FORM----------------


.big-input {
	font-weight: 400;
	font-size: 1.7em;
	height: 80px;
	border-radius: 0px;
	border: none;
	font-family: $basefont;
	display: block;
	float: left;
	cursor: pointer;
}

.subscribe-to-date-wrapper {
	width: 80%; 
	margin: 0 auto;
	box-sizing: border-box;

	button {
		@extend .big-input;
		font-size: 1.25em;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 25%;
		color: white;
		transition: color 0.3s;
		background-color: none;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			z-index: -1;
			transform: scale3d(1, 1, 1);
			transition: box-shadow 0.3s, transform 0.3s;
		}
		
		&.do-unsubscribe-to-date {
			&::before {
				box-shadow: inset 0 0 0 40px $bad-colour;
			}

			&:hover {
				color: $bad-colour;

				&::before {
					box-shadow: inset 0 0 0 5px $bad-colour;

				}
			}
		}

		&.do-subscribe-to-date {
			&::before {
				box-shadow: inset 0 0 0 40px $good-colour;
			}

			&:hover {
				color: $good-colour;

				&::before {
					box-shadow: inset 0 0 0 5px $good-colour;
				}
			}
		}

		&:hover {
			&::before {
				transform: scale3d(1, 1, 1);
			}
		}
		
		&:last-child {
			float: none;
		}
	}
}

/*-------KOHANA--------*/


.input--kohana {
	z-index: 1;
	vertical-align: top;
	background: #fff;
	width: 50%;
	float: left;
}

.input__field--kohana {
	position: relative;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	font-size: 1.8em;
	font-weight: 300;
	font-family: $basefont;
	width: 100%;
	background: transparent;
	color: #6a7989;
	height: 80px;
	padding-left: 0.5em;

}

.input__label--kohana {
	display: inline-block;
	float: right;
	user-select: none;

	position: absolute;
	text-align: left;
	pointer-events: none;
	color: #D2D2D2;
}

.input__label-content--kohana {
	position: relative;
	font-size: 1.8em;
	font-weight: 300;
	display: block;
	float:left;
	width: auto;
	transform: translate3d(-60px, 0, 0);
	transition: transform 0.3s, opacity 0.3s;
	line-height: 80px;

}

.icon--kohana {
	display: inline-block;
	transform: translate3d(-40px, 0, 0) scale3d(0, 1, 1);
	width: 80px;
	height: 80px;
	background-color:#5B7A7F;
	transition: background-color 0.3s, transform 0.3s;
	float: left;
}

.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
}

.input__label-content--kohana,
.icon--kohana,
.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--kohana:focus + .input__label--kohana .icon--kohana,
.input--filled  .icon--kohana {
	background-color: $good-colour;
	transform: translate3d(-80px, 0, 0) scale3d(1, 1, 1);
}


.icon-user {
	width: 100%;
	height: 100%;
	padding: 7px;
	fill: #fff;
	
}


#subscriber {
	margin: 2em 0 1em 0;
	li {
		display: inline;
		text-transform: uppercase;
		font-size: 1.3em;
		color: $good-colour;
		font-weight: 700;
		&:after {
			content: ' /';

		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
}

.highlight-good {
	color: $good-colour;
}

.highlight-bad {
	color: $bad-colour;
}


//--------------#user-account--------------

#user-account {
	position: absolute;
	top: 0;
	right: 0;
	width: 25em;
	height: 60px;
	background-color: $good-colour;
	padding-left: 1em;
	transition: transform 0.3s ease-in-out;
	
	span {
		position: absolute;
		line-height: 60px;
		color: white;
		transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s 0.2s;
	}
	
	&.is-visible {
		transform: translate3d(0, 0, 0);

		.user-account-option  {
			transform: translate3d(0, 0, 0);
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}

		span {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	&.is-hidden {
		transform: translate3d(0, -60px, 0);

		.user-account-option  {
			transform: translate3d(0, -60px, 0);
		}

		span {
			transform: translate3d(0, -60px, 0);
			opacity: 0;
		}
	}
}

.user-account-option {
	background-color: white;
	height: 60px;
	width: 60px;
	float: right;
	margin-left: 2px;
	transform: translate3d(0, -60px, 0);
	transition: transform 0.3s ease-in-out;

	&:first-child {
		float: none;
	}

	i {
		display: block;
		width: 60px;
		height: 60px;
	}
}

#show-balance {
	transition-delay: 0.3s;
}

#add-player {
	transition-delay: 0.1s;
	.icon-user {
		fill: $good-colour;
	}
}

#add-date {
	transition-delay: 0.2s;
}

.icon-euro-sign {
	width: 100%;
	height: 100%;
	fill: $good-colour;
}
