.next-date {
	position:absolute;
	right: 2em;
	top: 0;
	bottom: 0;
	height: 130px;
	width: auto;
	margin: auto;

	.icon-chevron {
		transform: scaleX(1);

		&:hover {
			transform: scale(1.2);
		}
	}
}

.previous-date {
	position:absolute;
	left: 2em;
	top: 0;
	bottom: 0;
	height: 130px;
	width: auto;
	margin: auto;

	.icon-chevron {
		transform: scaleX(-1) ;

		&:hover {
			transform: scale(-1.2, 1.2);
		}
	}
}

.next-date, .previous-date {
	i {
		height: 100%;
	}

	.icon-chevron {
		display: inline-block;
		fill: white;
		height: 100%;
		cursor: pointer;
		transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out, filter 0.2s ease-in-out;

		&:hover {
			fill: $bad-colour;
			filter: drop-shadow( 6px 6px 15px #333);
		}
	}
}