.big-input {}

.date-state {
    font-weight: 700;
    padding: 0.4em 0;
    text-transform: uppercase;
    color: white;
    font-size: 4.5em;
    &.yes {
        color: $good-colour;
    }
    &.no {
        color: $bad-colour;
        font-size: 4em;
    }
    &.maybe {
        font-size: 3.7em;
        color: $bad-colour;
    }
    @media (max-width: 768px) {
        padding: 0.6em 0;
        &.yes {
            font-size: 3.3em;
        }
        &.no {
            font-size: 2.8em;
        }
        &.maybe {
            font-size: 2.5em;
        }
    }
    @media (max-width: 480px) {
        &.yes, &.no, &.maybe {
            font-size: 2em;
        }
    }
}

.subscriber-form__input-wrapper {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    button {
        width: 25%;
        &.unsubscribe-button {
            &::before {
                box-shadow: inset 0 0 0 2em $bad-colour;
            }
            &:hover {
                color: $bad-colour;
                &::before {
                    box-shadow: inset 0 0 0 0.25em $bad-colour;
                }
            }
        }
        &.subscribe-button {
            &::before {
                box-shadow: inset 0 0 0 2em $good-colour;
            }
            &:hover {
                color: $good-colour;
                &::before {
                    box-shadow: inset 0 0 0 0.25em $good-colour;
                }
            }
        }
        &:hover {
            &::before {
                transform: scale3d(1, 1, 1);
            }
        }
        &:last-child {
            float: none;
        }
        &.undo {
            width: 50%;
            float: none;
            @media (max-width: 1060px) {
                width: 100%;
            }
        }
        &.is-hidden {
            display: none;
        }
        @media (max-width: 1060px) {
            width: 50%;
        }
    }
    @media (max-width: 1444px) {
        width: 90%
    }
    @media (max-width: 768px) {
        width: 100%;
        padding: 0 2em;
    }
    @media (max-width: 480px) {
        padding: 0;
    }
}


/*--------Inputfields for subscriber Form-----*/

.input--subscriber-form {
    width: 50%;
    @media (max-width: 1060px) {
        width: 100%
    }
}

#subscriber-email {
    &:disabled {
        background-color: #ccc;
        color: white;
        & + label {
            & .icon__subscriber-email {
                transform: translate3d(-8em, 0, 0);
                opacity: 0;
            }
        }
        & ~ .btn__add-user {
            transform: translate3d(-4em, 0, 0);
            opacity: 1;
            background-color: $good-colour;
            @media (max-width: 1060px) {
                transform: translate3d(0, 0, 0);
            }
        }
    }
    @media (max-width: 1060px) {
        padding-left: 2.72222em;
    }
}

.input__label-content--subscriber-form {
    transform: translate3d(-1.5em, 0, 0);
}

.btn__add-user {
    opacity: 0;
    transform: translate3d(-8em, 0, 0);
    cursor: pointer;
    position: absolute;
}

.icon-user {
    width: 100%;
    height: 100%;
    padding: 0.3em;
    fill: #fff;
}

.icon-add-user {
    width: 100%;
    height: 100%;
    padding: 0.3em;
    fill: #fff;
}

.subscriber-list {
    margin: 2em 0 1em 0;
    li {
        display: inline;
        text-transform: uppercase;
        font-size: 1.3em;
        color: $good-colour;
        font-weight: 700;
        &:after {
            content: ' /';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}

p.small-info {
    margin-bottom: 0.5em;
}

.highlight-subscribed {
    color: $good-colour;
}

.highlight-unsubscribed {
    color: $bad-colour;
    &:after {
        content: ', '
    }
    &:last-child, &:first-child {
        &:after {
            content: '';
        }
    }
}
