    //--------------#user-account--------------
    $user-account-width: 25em;
    $user-account-option-size: 3em;
    .user-account {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        width: $user-account-width;
        height: $user-account-option-size;
        background-color: $good-colour;
        padding-left: 1em;
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
        &__welcome {
            position: absolute;
            line-height: $user-account-option-size;
            color: white;
            transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s 0.2s;
        }
        &.is-visible {
            transform: translate3d(0, 0, 0);
            .user-account__option {
                transform: translate3d(0, 0, 0);
                transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            }
            .user-account__welcome {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
        &.is-hidden {
            transform: translate3d(0, -$user-account-option-size, 0);
            .user-account__option {
                transform: translate3d(0, -$user-account-option-size, 0);
            }
            .user-account__welcome {
                transform: translate3d(0, -$user-account-option-size, 0);
                opacity: 0;
            }
        }
    }
    
    .user-account__option {
        height: $user-account-option-size;
        width: $user-account-option-size;
        float: right;
        margin-left: 2px;
        transform: translate3d(0, -$user-account-option-size, 0);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        position: relative;
        z-index: 10;
        i {
            display: block;
            position: relative;
            width: $user-account-option-size;
            height: $user-account-option-size;
            padding: 0.25em;
            background-color: white;
            z-index: 20;
            svg {
                width: 100%;
                height: 100%;
                fill: $good-colour;
            }
        }
        &::after {
            position: absolute;
            top: 0;
            padding-left: 1em;
            width: $user-account-width;
            height: $user-account-option-size;
            background-color: white;
            pointer-events: none;
            z-index: 0;
            line-height: $user-account-option-size;
            color: $good-colour;
            transition: transform 0.3s ease-in-out;
        }
        &--new-player::after {
            left: 0.2em + 3*$user-account-option-size;
            content: 'Spieler einladen';
        }
        &--add-date::after {
            left: 0.1em + 2*$user-account-option-size;
            content: 'Termin erstellen';
        }
        &--balance::after {
            left: $user-account-option-size;
            content: 'Kontostand ansehen';
        }
        &--new-player,
        &--add-date,
        &--balance {
            &:hover,
            &.is-active {
                &::after {
                    z-index: 30;
                    transform: translateX(-$user-account-width);
                }
                z-index: 40;
                i {
                    background-color: $good-colour;
                    z-index: 50;
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
    
    //--------USER-ACCOUNT-MENU--------------------
    .user-account__menu {
        padding: 1.5em;
        width: $user-account-width;
        height: calc(100% - 3em);
        position: absolute;
        top: 3em;
        right: 0;
        transform: translate3d($user-account-width, 0, 0);
        background-color: $good-colour;
        z-index: 20;
        transition: transform 0.2s ease-in-out;
        float: right;
        display: inline-block;
        overflow: visible;
        &--new-player {
            &.is-visible {
                transform: translate3d(0, 0, 0);
            }
        }
        p {
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 1.5em;
        }
    }
    
    .user-account__overlay {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(28,63,69);
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        &.is-active {
            opacity: 0.65;
        }
    }
    
    .input--user-account__menu {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .input__label-content--user-account__menu {
        transform: translate3d(0.5em,0,0);
    }

.add-new-player-button {
    width: 100%;
}